.navbar {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #25c9df;
    font-size: 20px;
    font-weight: bold;
  }
  
  .logo {
    width: 50px; /* Adjust the size */
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }
  